@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-plus-jakarta);

  --color-brand-primary: #3d8a84;
  --color-brand-bg: #090c0c;
  --color-brand-surface: #0e1515;
  --color-brand-border: #182222;
  --color-brand-muted: #2e4d4a;
  --color-brand-accent: #6eb5af;
}

@layer base {
  *, ::after, ::before {
    border-width: 0;
    border-style: solid;
  }
}
